/* -----------------------------------------
   Home page slider
----------------------------------------- */

#home-slider {
	.slick-slide {
		position: relative;
		height: 500px; /*define the height of slide*/
		@extend %bgcover;
		@include transition(height .3s ease);
	}
	.slider-caption {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: 500px;
		padding: 5px 10px;
		background: rgba(0, 0, 0, .6);
		text-align: center;
		@include transform (translate(-50%, -50%));
		p, h3 {
			color: #fff;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		}
	}
}

.prev, .next{
	cursor: pointer;
	@include transition(all .3s ease-in-out);
	&:hover,&:focus{
		opacity: 0.6;
	}
}
.prev{
	background-image: url('../images/prev.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.next{
	background-image: url('../images/next.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.news-slider, .news-big-slider{
	padding: 0 10px;
	&-one{
		padding: 0 4px;
		margin-bottom: 8px;
		&-content{
			display: table;
			width: 100%;
			height: 366px;
			@extend %bgcover;
			position: relative;
			&:hover,&:focus{
				a{
					color:$red;
				}
			}
			&-link{
				position: absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
			}
			&-info{
				display: table-cell;
				vertical-align: bottom;
				span{
					font-size: 16px;
					background: $red;
					padding: 7px 30px 7px 17px;
					display: inline-block;
					color:$white;
					font-family: $font;
				}
				&-black{
					background: rgba(0,0,0,0.6);
					padding: 10px 17px;
					h6,p,a{
						color:$white;
					}
					h6{
						font-size: 18px;
						line-height: 21px;
						margin-bottom: 0;
						&.cat{
							border-bottom: 1px solid $white;
							text-transform: uppercase;
							margin-bottom: 10px;
							padding-bottom: 5px;
						}
					}
					p{
						font-size: 16px;
						line-height: 20px;
						margin-bottom: 11px;
					}
					a{
						font-size: 14px;
						font-family: $font3;
						display: block;
					}
				}
			}
		}
	}
}

//NEWS FUNNEL
.funnel-slider{
	.slick-slide{
		padding: 5px 0;
	}
	&-image{
		@extend %bgcover;
		height: 170px;
		position: relative;
		span{
			font-size: 16px;
			background: $red;
			padding: 7px 30px 7px 17px;
			display: inline-block;
			color:$white;
			font-family: $font3;
			position: absolute;
			top:0;
			right:0;
		}
		a{
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
		}
	}
	&-content{
		h5{
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 0;
		}
		p{
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 0;
		}
		a{
			font-size: 14px;
			color:$red;
			font-family: $font3;
			display: inline-block;
		}
	}
}

.global-slider{
	margin-top: -18px;
	.slick-slide{
		padding: 22px 0;
		border-bottom: 1px solid #d1d1d1;
	}
	span{
		font-size: 16px;
		color:$red;
	}
	a{
		display: inline-block;
	}
	.slick-dots{
		position: relative;
		text-align: left;
		margin-top: 15px;
		li{
			margin: 0;
			border-right: 1px solid #fff;
			button{
				font-size: 18px;
				font-family: $font3;
				color:$white;
				background: #ac1500;
				width: 38px;
				height: 38px;
				&:before{
					display: none;
				}
			}
			&.slick-active, &:hover{
				button{
					background: $red;
				}
			}
		}
	}
}

.property-big-slider{
	border:1px solid #adaeae;
	padding: 12px;
	margin-bottom: 14px;
	.slick-slide{
		height: 450px;
		@extend %bgcover;
	}
}
.property-small-slider{
	margin: 0 0 42px -4px;
	&-image{
		height: 95px;
		@extend %bgcover;
		border:1px solid #adaeae;
	}
	.slick-slide{
		padding: 0 4px;
		cursor: pointer;
	}
}
.property-prev,.property-next{
	width: 36px;
	height: 50px;
	position: absolute;
	top:50%;
	@include transform(translate(0,-50%));
	z-index:1;
	background-color: $white;
	&:hover,&:focus{
		opacity: 1;
		background-color: $red;
	}
}
.property-prev{
	left:11px;
}
.property-next{
	right:11px;
}


.funnel-prev, .funnel-next{
	margin-top: 13px;
	width: 16px;
	cursor: pointer;
	@include transition(all .3s ease-in-out);
	&:hover,&:focus{
		opacity: 0.6;
	}
}
.funnel-prev{
	@include transform(rotate(90deg));
	margin-right: 5px;
}
.funnel-next{
	@include transform(rotate(-90deg));
}

@media only screen and (max-width: 1024px) {
	#home-slider {
		.slick-slide {
			height: 400px; /*define the height of slide*/
		}
	}
	.property-big-slider{
		.slick-slide {
			height: 300px;
		}
	}
}

@media only screen and (max-width: 640px) {
	#home-slider {
		.slick-slide {
			height: 300px; /*define the height of slide*/
		}
	}
	.updates-prev, .updates-next, .news-prev, .news-next{
		position: absolute;
		width: 23px;
		height: 43px;
		background-position: 50%;
		top:15px;
		z-index: 1;
	}
	.updates-prev, .news-prev{
		left: 15px;
	}
	.updates-next, .news-next{
		right: 15px;
	}
	.property-big-slider{
		.slick-slide{
			height: 290px;
		}
	}
	.property-small-slider{
		margin: 0 0 20px 0;
	}
}
